body {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
}

.world {
  border: 1px solid #ccc;
  background-color: #fff;
}
.start-screen {
  position: absolute;
  top: 7px;
  left: 10px;
}

.start-screen-content {
  position: absolute;
  top: 200px;
  left: 260px;
}

.start-button {
  height: 40px;
  width: 100px;
  background: white;
  border-radius: 25px;
  font-size: 20px;
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #a72b87;
  border: none;
  cursor: pointer;
  outline: none;
  justify-self: center;
}

.restart-button {
  height: 40px;
  width: 100px;
  background: white;
  border-radius: 25px;
  font-size: 20px;
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #a72b87;
  border: none;
  cursor: pointer;
  outline: none;
  justify-self: center;
}

.tutorial {
  font-size: 15px;
  color: #33ada0;
  font-weight: 500;
}

.score {
  font-size: 20px;

  color: #a72b87;
  font-weight: 500;
}

.lives {
  font-size: 20px;

  color: #a72b87;
  font-weight: 500;
}

.num-lives {
  display: inline-block;
  width: calc(15px * 3);
  height: 20px;

  background-image: url('../img/lives.png');
  background-size: contain;
}

body {
  background-color: white;
}
