body {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
}

.world {
  border: 1px solid #ccc;
  background-color: #fff;
}
.score {
  font-size: 20px;

  color: purple;
  font-weight: 500;
}

.lives {
  font-size: 20px;

  color: purple;
  font-weight: 500;
  /* display: grid;
  grid-template-columns: 2fr 1fr 1fr 15fr; */
}

.num-lives {
  display: inline-block;
  width: calc(15px * 3);
  height: 20px;

  background-image: url('../img/lives.png');
  background-size: contain;
}

body {
  background-color: white;
}
